# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
Agentc_Env_01/

# Environment variables
.env

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Ignore embedded repos
pytradingapi-typeA/
pytradingapi-typeB/